.container_1 {
  text-align: center;
  margin: auto;
 
    h1{
       
      }
      input{
          width: auto;
          height: 30px;
          border:1px solid #ced4da;
          border-radius: .25rem;
          text-align: center;
      }
}