.dash-container {
  .button {
    @extend %button;
  }

  .header {
    width: 100%;
    height: 70px;

    .title {
      display: inline-block;
      width: 100%;
      padding-top: 10px;
      text-align: center;
      font-size: 2em;
        color: $grey;
    }

    .logout {
      position: absolute;
      right: 15px;
      top: 10px ;
      background-color: none;
      width: auto;

      .desktop {
        position: relative;
        display: none;

        @include respond-to('phablet') {
          display: block;
        }
      }

      .mobile {
        display: block;

        @include respond-to('phablet') {
          display: none;
        }
      }
    }
  }

  .main{
    width: 100%;

    .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 20px 10px;

      @include respond-to('phablet') {
        padding: 20px 80px;
      }

      %content {
        flex-wrap: wrap; 
        width: 100%;
        height: 400px;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.18);

        @include respond-to('phablet') {
          width: 400px;
        }
      }

      .content {
        @extend %content;
      }

      .content-small {
        @extend %content;
        height: 150px;
        text-align: center;

        @include respond-to('phablet') {
          height: 250px;
        }
        
        h2 {
          padding-top: 20px;
          font-size: 2.2em;
        }

        .icon {
          display: none;
          @include respond-to('phablet') {
            padding-top: 20px;
            display: block;
          }
        }
      }
      
      .account {
        width: 100%;
        height: 200px;

        @include respond-to('phablet') {
          width: 400px;
        }
  
        .account-btn {
          margin-top: 20px;
        }
      }
    }
  }
}