%input {
    border: 2px solid $grey;
    background-color: $justwhite;
    font-family: inherit;
    padding: 10px 10px;
    color: $pureblack;
    border-radius: 8px;
    font-size: 1em;
    transition: all 0.2s ease;

    &::placeholder {
        color: $pureblack;
    }

    &:focus {
        background-color: $lightgrey;
        color: $almostblack;
        outline: none;
        transition: all 0.2s ease;

        &::placeholder {
            color: $almostblack;
        }
    }
}

%button {
    font-family: inherit;
    font-size: 1.2em;
    padding: 6px 50px;
    border: 2px solid $grey;
    background-color: $lightgrey;
    color: $pureblack;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;

    &:hover {
        transition: all 0.2s ease;
        background-color: $justwhite;        
    }
}
