/*fonts*/
@font-face {
  font-family: jost;
  src: url(../font/Jost-300-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: jost;
  src: url(../font/Jost-400-Book.ttf);
  font-weight: 400;
}
@font-face {
  font-family: jost;
  src: url(../font/Jost-500-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: jost;
  src: url(../font/Jost-700-Bold.ttf);
  font-weight: 700;
}
/*Basic css*/
* {
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
*::selection {
  background-color: #000000;
  color: #ffffff;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
  font-family: jost;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.dashboardContainer .button {
  font-family: inherit;
  font-size: 1em;
  padding: 6px 14px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.dashboardContainer .button:hover {
  transition: all 0.2s ease;
  background-color: #ffffff;
}

.container-login {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-login {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-login {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-login {
    width: 1170px;
  }
}
.container-login .login-header {
  padding-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .container-login .login-header {
    padding-top: 7%;
  }
}
.container-login .login-header h1 {
  font-size: 25px;
}
.container-login .login-form {
  margin-top: 40%;
  position: relative;
}
@media (min-width: 768px) {
  .container-login .login-form {
    margin-top: 8%;
  }
}
.container-login .login-form .login-flex {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
@media (min-width: 768px) {
  .container-login .login-form .login-flex {
    justify-content: center;
  }
}
.container-login .login-form .login-flex:nth-child(2) {
  margin-top: 10%;
}
@media (min-width: 768px) {
  .container-login .login-form .login-flex:nth-child(2) {
    margin-top: 7%;
  }
}
@media (min-width: 992px) {
  .container-login .login-form .login-flex:nth-child(2) {
    margin-top: 4%;
  }
}
.container-login .login-form .login-flex .icons-input-left {
  position: absolute;
  left: 10%;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  .container-login .login-form .login-flex .icons-input-left {
    left: 20%;
  }
}
@media (min-width: 1200px) {
  .container-login .login-form .login-flex .icons-input-left {
    left: 26%;
  }
}
.container-login .login-form .login-flex .icons-input-right {
  position: absolute;
  right: 10%;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  .container-login .login-form .login-flex .icons-input-right {
    right: 20%;
  }
}
@media (min-width: 1200px) {
  .container-login .login-form .login-flex .icons-input-right {
    right: 26%;
  }
}
.container-login .login-form .login-flex .login-inputs {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}
@media (min-width: 768px) {
  .container-login .login-form .login-flex .login-inputs {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .container-login .login-form .login-flex .login-inputs {
    width: 60%;
  }
}
.container-login .login-form .login-form-buttons {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}
@media (min-width: 768px) {
  .container-login .login-form .login-form-buttons {
    margin-top: 7%;
  }
}
.container-login .login-form .login-form-buttons a {
  color: black;
}
.container-login .login-form .login-form-buttons .login-form-submit {
  width: 40%;
  height: 30px;
  border: 1px solid black;
}

.container-register {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-register {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-register {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-register {
    width: 1170px;
  }
}
.container-register .register-header {
  padding-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .container-register .register-header {
    padding-top: 15%;
  }
}
.container-register .register-header h1 {
  font-size: 25px;
}
.container-register .register-form {
  margin-top: 10%;
  position: relative;
}
.container-register .register-form .register-flex {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
@media (min-width: 768px) {
  .container-register .register-form .register-flex {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .container-register .register-form .register-flex:nth-child(even) {
    margin-top: 7%;
  }
}
@media (min-width: 992px) {
  .container-register .register-form .register-flex:nth-child(even) {
    margin-top: 4%;
  }
}
.container-register .register-form .register-flex .icons-input-left {
  position: absolute;
  left: 10%;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  .container-register .register-form .register-flex .icons-input-left {
    left: 20%;
  }
}
@media (min-width: 1200px) {
  .container-register .register-form .register-flex .icons-input-left {
    left: 26%;
  }
}
.container-register .register-form .register-flex .icons-input-right {
  position: absolute;
  right: 10%;
  font-size: 1.3em;
}
@media (min-width: 768px) {
  .container-register .register-form .register-flex .icons-input-right {
    right: 20%;
  }
}
@media (min-width: 1200px) {
  .container-register .register-form .register-flex .icons-input-right {
    right: 26%;
  }
}
.container-register .register-form .register-flex .register-inputs {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}
@media (min-width: 768px) {
  .container-register .register-form .register-flex .register-inputs {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .container-register .register-form .register-flex .register-inputs {
    width: 60%;
  }
}
.container-register .register-form .register-flex .register-inputs-gender {
  height: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 3% !important;
}
@media (min-width: 768px) {
  .container-register .register-form .register-flex .register-inputs-gender {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .container-register .register-form .register-flex .register-inputs-gender {
    width: 60%;
  }
}
.container-register .register-form .register-form-buttons {
  width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .container-register .register-form .register-form-buttons {
    margin-top: 7%;
  }
}
.container-register .register-form .register-form-buttons a {
  color: black;
}
.container-register .register-form .register-form-buttons .register-form-submit {
  width: 40%;
  height: 30px;
  border: 1px solid black;
}

/*basic css*/
.dashboardContainer .hidden {
  display: none;
}
.dashboardContainer .buttonContainer {
  margin-top: 0%;
}
.dashboardContainer .h2, .dashboardContainer .h3 {
  padding: 10px;
  text-align: center;
}
.dashboardContainer .selectbox {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.dashboardContainer .button {
  width: 100%;
  margin-top: 30px;
}
.dashboardContainer .dataPerson {
  margin-left: 35%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .selectbox {
    display: none;
  }

  .dataPerson {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .hidden {
    display: block !important;
  }

  .containerCharts {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  #chart1 {
    width: 50%;
    height: 0px;
  }

  #chart2 {
    width: 50%;
    float: right;
  }
}

/*# sourceMappingURL=style.css.map */
