//font
  $font: jost;
//colors
  $justwhite:       #ffffff;
  $bg-color:        #ffffff;
  $almostblack:     #070707;
  $pureblack:       #000000;
  $lightgrey:       #DEDEDE;
  $grey:            #7C7C7C;
