/*fonts*/
@font-face {
  font-family: jost;
  src: url(../font/Jost-300-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: jost;
  src: url(../font/Jost-400-Book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: jost;
  src: url(../font/Jost-500-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: jost;
  src: url(../font/Jost-700-Bold.ttf);
  font-weight: 700;
}

/*Basic css*/
* {
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

*::selection {
  background-color: #000000;
  color: #ffffff;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
  font-family: jost;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.container-register {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-register {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container-register {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container-register {
    width: 1170px;
  }
}

.container-register .register-header {
  padding-top: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  .container-register .register-header {
    padding-top: 15%;
  }
}

.container-register .register-header h1 {
  font-size: 25px;
}

.container-register .register-form {
  margin-top: 10%;
  position: relative;
}

.container-register .register-form .register-flex {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .container-register .register-form .register-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) {
  .container-register .register-form .register-flex:nth-child(even) {
    margin-top: 7%;
  }
}

@media (min-width: 992px) {
  .container-register .register-form .register-flex:nth-child(even) {
    margin-top: 4%;
  }
}

.container-register .register-form .register-flex .icons-input-left {
  position: absolute;
  left: 10%;
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .container-register .register-form .register-flex .icons-input-left {
    left: 20%;
  }
}

@media (min-width: 1200px) {
  .container-register .register-form .register-flex .icons-input-left {
    left: 26%;
  }
}

.container-register .register-form .register-flex .icons-input-right {
  position: absolute;
  right: 10%;
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .container-register .register-form .register-flex .icons-input-right {
    right: 20%;
  }
}

@media (min-width: 1200px) {
  .container-register .register-form .register-flex .icons-input-right {
    right: 26%;
  }
}

.container-register .register-form .register-flex .register-inputs {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

@media (min-width: 768px) {
  .container-register .register-form .register-flex .register-inputs {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .container-register .register-form .register-flex .register-inputs {
    width: 60%;
  }
}

.container-register .register-form .register-flex .register-inputs-gender {
  height: 20px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 3% !important;
}

@media (min-width: 768px) {
  .container-register .register-form .register-flex .register-inputs-gender {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .container-register .register-form .register-flex .register-inputs-gender {
    width: 60%;
  }
}

.container-register .register-form .register-form-buttons {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .container-register .register-form .register-form-buttons {
    margin-top: 7%;
  }
}

.container-register .register-form .register-form-buttons a {
  color: black;
}

.container-register .register-form .register-form-buttons .register-form-submit {
  width: 40%;
  height: 30px;
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */